.page-titles{
    text-align: center;
    background-color: bisque;
}

#site-name{
    text-align: center;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    background-color: white;
}

.recipe{
    color: black;
    font-weight: 900;
    text-decoration: none;
    background-color: lightgray;
}

a:hover{
    background-color: whitesmoke;
}

#recipe-list{
    font-size: 40px;
    text-align: center;
    display: block;
    list-style-type: none;
}