.page-titles{
    text-align: center;
    background-color: bisque;
}

#site-name{
    text-align: center;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    background-color: white;
}

